[Desktop Entry]
Name=Koko
Name[de]=Koko
Name[pt]=Koko
Name[sv]=Koko
Name[uk]=Koko
Name[x-test]=xxKokoxx
GenericName=Image Gallery
GenericName[de]=Bildergalerie
GenericName[pt]=Galeria de Imagens
GenericName[sv]=Bildgalleri
GenericName[uk]=Галерея зображень
GenericName[x-test]=xxImage Galleryxx
Comment=An Image gallery application
Comment[de]=Eine Bildergalerie-Anwendung
Comment[pt]=Uma aplicação de galeria de imagens
Comment[sv]=Ett bildgalleriprogram
Comment[uk]=Програма для роботи з галереями зображень
Comment[x-test]=xxAn Image gallery applicationxx
Exec=koko %U
Terminal=false
Type=Application
Categories=Qt;KDE;Graphics;Viewer;
Icon=koko
