# SPDX-FileCopyrightText: 2014 Vishesh Handa <vhanda@kde.org>
# SPDX-License-Identifier: LGPL-2.1-or-later
[Desktop Entry]
Name=Photos
Name[ar]=الصور
Name[bg]=Снимки
Name[ca]=Fotos
Name[ca@valencia]=Fotos
Name[cs]=Fotky
Name[de]=Fotos
Name[eo]=Fotoj
Name[es]=Fotos
Name[eu]=Argazkiak
Name[fi]=Valokuvat
Name[fr]=Photos
Name[ia]=Photos
Name[it]=Fotografie
Name[ka]=ფოტოები
Name[ko]=사진
Name[lv]=Fotogrāfijas
Name[nl]=Foto's
Name[pl]=Zdjęcia
Name[pt_BR]=Fotos
Name[ru]=Фотографии
Name[sl]=Photos
Name[tr]=Fotoğraflar
Name[uk]=Фотографії
Name[x-test]=xxPhotosxx
Name[zh_CN]=照片
Name[zh_TW]=相片
GenericName=Image Gallery
GenericName[ar]=معرض الصور
GenericName[bg]=Галерия с изображения
GenericName[bs]=Galerija slika
GenericName[ca]=Galeria d'imatges
GenericName[ca@valencia]=Galeria d'imatges
GenericName[cs]=Galerie obrázků
GenericName[da]=Billedgalleri
GenericName[de]=Bildergalerie
GenericName[el]=Συλλογή εικόνων
GenericName[en_GB]=Image Gallery
GenericName[eo]=Bildgalerio
GenericName[es]=Galería de imágenes
GenericName[et]=Pildigalerii
GenericName[eu]=Irudi-galeria
GenericName[fi]=Kuvagalleria
GenericName[fr]=Galerie d'images
GenericName[gl]=Galería de imaxes
GenericName[hu]=Image Gallery
GenericName[ia]=Galeria de imagine
GenericName[it]=Galleria di immagini
GenericName[ka]=სურათების გალერეა
GenericName[ko]=이미지 갤러리
GenericName[lv]=Attēlu galerija
GenericName[nl]=Afbeeldingsgalerij
GenericName[nn]=Biletgalleri
GenericName[pa]=ਚਿੱਤਰ ਗੈਲਰੀ
GenericName[pl]=Galeria obrazów
GenericName[pt]=Galeria de Imagens
GenericName[pt_BR]=Galeria de imagens
GenericName[ro]=Galerie de imagini
GenericName[ru]=Галерея изображений
GenericName[sk]=Galéria obrázkov
GenericName[sl]=Galerija slik
GenericName[sv]=Bildgalleri
GenericName[tr]=Görsel Galerisi
GenericName[uk]=Галерея зображень
GenericName[x-test]=xxImage Galleryxx
GenericName[zh_CN]=图像库
GenericName[zh_TW]=圖片庫
Comment=An Image gallery application
Comment[ar]=تطبيق معرض صور
Comment[bg]=Програма за галерии с изображения
Comment[bs]=Aplikacija galerije slika
Comment[ca]=Una aplicació de galeria d'imatges
Comment[ca@valencia]=Una aplicació de galeria d'imatges
Comment[cs]=Aplikace s galerií obrázků
Comment[da]=Et program til billedgalleri
Comment[de]=Eine Bildergalerie-Anwendung
Comment[el]=Μια εφαρμογή συλλογής εικόνων
Comment[en_GB]=An Image gallery application
Comment[eo]=Bildgaleria aplikaĵo
Comment[es]=Aplicación de galería de imágenes
Comment[et]=Pildigalerii rakendus
Comment[eu]=Irudi-galeria aplikazio bat
Comment[fi]=Kuvagalleriasovellus
Comment[fr]=Une application de galerie d'images
Comment[gl]=Aplicación de galería de imaxes
Comment[hu]=Képtár alkalmazás
Comment[ia]=Un application de galeria de imagine
Comment[it]=Applicazione per galleria di immagini
Comment[ka]=სურათების გალერეის აპლიკაცია
Comment[ko]=이미지 갤러리 앱
Comment[lv]=Attēlu galerijas programma
Comment[nl]=Toepassing voor afbeeldingsgalerij
Comment[nn]=Eit biletgalleriprogram
Comment[pa]=ਚਿੱਤਰ ਗੈਲਰੀ ਦੀ ਐਪਲੀਕੇਸ਼ਨ
Comment[pl]=Aplikacja galerii obrazów
Comment[pt]=Uma aplicação de galeria de imagens
Comment[pt_BR]=Aplicativo de galeria de imagens
Comment[ro]=Aplicație pentru galerii de imagini
Comment[ru]=Приложение для работы с галереей изображений
Comment[sk]=Aplikácia pre galériu obrázkov
Comment[sl]=Program galerije slik
Comment[sv]=Ett bildgalleriprogram
Comment[tr]=Görsel galerisi uygulaması
Comment[uk]=Програма для роботи з галереями зображень
Comment[x-test]=xxAn Image gallery applicationxx
Comment[zh_CN]=一款图像库应用
Comment[zh_TW]=提供圖片庫功能的應用程式
Keywords=Picture;Slideshow;Graphics;Gallery;koko;
Keywords[ar]=صور;عرض;معرض;كوكو;شرائح
Keywords[bg]=Снимки;Слайдшоу;Графики;Галерия;koko;
Keywords[ca]=Imatge;Presentació de diapositives;Gràfics;Galeria;koko;
Keywords[ca@valencia]=Imatge;Presentació de diapositives;Gràfics;Galeria;koko;
Keywords[eo]=Bildo;Bildoprezento;Grafikoj;Galerio;koko;
Keywords[es]=Imágenes;Diapositivas;Gráficos;Galería;koko;
Keywords[eu]=Margolana;Diapositiba emanaldia;Grafikoak;Galeria;koko;
Keywords[fi]=Kuva;Diaesitys;Kuvaesitys;Grafiikka;Galleria;Koko;
Keywords[fr]=Image ; diaporama ; graphique ; galerie ; koko ;
Keywords[ia]=Imagine;Presentation;Graphiches;Galeria;koko;
Keywords[it]=Immagine;presentazione;grafica;galleria;koko;
Keywords[ka]=Picture;Slideshow;Graphics;Gallery;სურათები;გრაფიკა;სლაიდშოუ;koko;კოკო;
Keywords[ko]=Picture;Slideshow;Graphics;Gallery;koko;사진;그림;슬라이드;슬라이드쇼;슬라이드 쇼;그래픽;갤러리;
Keywords[lv]=Attēls;Slīdrāde;Fotogrāfija;Galerija;koko;
Keywords[nl]=Afbeelding;Diavoorstelling;Grafiek;Galerij;koko;
Keywords[pl]=Zdjęcie;Pokaz zdjęć;Grafika;Galeria;koko;
Keywords[sl]=Slika;Predstavitev;Grafika;Galerija;koko;
Keywords[tr]=Resim;Slayt Gösterisi;Grafikler;Galeri;Fotoğraf;Görsel;koko;
Keywords[uk]=Picture;Slideshow;Graphics;Gallery;koko;малюнок;слайд;показ;графіка;галерея;коко;
Keywords[x-test]=xxPicturexx;xxSlideshowxx;xxGraphicsxx;xxGalleryxx;xxkokoxx;
Keywords[zh_CN]=Picture;Slideshow;Graphics;Gallery;图片;图像;图形;幻灯片;相册;tupian;tuxiang;tuxing;huandengpian;xiangce;koko;
Keywords[zh_TW]=Picture;Slideshow;Graphics;Gallery;影像;幻燈片;相簿;圖片;koko;
Exec=koko %U
Terminal=false
Type=Application
Categories=Qt;KDE;Graphics;Viewer;
Icon=org.kde.koko
MimeType=image/gif;image/jpeg;image/png;image/bmp;image/x-eps;image/x-ico;image/x-portable-bitmap;image/x-portable-graymap;image/x-portable-pixmap;image/x-xbitmap;image/x-xpixmap;image/tiff;image/x-psd;image/x-webp;image/webp;image/svg+xml;video/x-matroska;video/x-vp8;video/x-vp9;video/webm;video/x-h264;video/mp4;video/x-m4v;video/x-av1;video/mpeg;video/mpegts;video/x-dirac;video/x-flash-video;video/flv;video/x-flv;video/x-h263;video/x-msvideocodec;video/x-msvideo;video/quicktime;video/3gpp;video/x-ms-asf;video/x-theora;video/ogg;video/x-vp10;video/x-mkv;video/x-fli;video/x-divx;video/x-msmpeg;video/x-jpeg;video/x-svq;video/x-pn-realvideo;video/x-dv;video/x-wmv;video/x-xvid;video/x-3ivx;video/x-tarkin;video/x-vp3;video/x-huffyuv;video/x-ffv;video/x-indeo;video/x-png;video/x-cinepak;
X-Purism-FormFactor=Workstation;Mobile;
# InitialPreference should be greater than Okular so that Koko is the
# primary application associated with images, but less than Konqueror or Dolphin
# so that Koko is not the primary applications for folders.
# This is intionally the same value Gwenview uses as Koko is about en par.
InitialPreference=8
